doctype html
html
	head
		include head.pug
		title YNC - About
	body
		div(class="header")
			img(src=image)
			h1= fullname
			h3= title
			q(class	="quote")= quote
		div(class="description")
			p= description
		div(class="link")
			each info, social in contact
				p
					img(src=`/home/public/icons/${social}_icon.png`)
					a(href=info.link) !{info.reason}